<div fxLayout="row" fxLayoutAlign="space-around center">
  <div>
    <h1>Feedback</h1>
    <p>We are happy to answer the questions. Just send us the message in the below format</p>
    </div>
    <div>
      <h1>Contact details</h1>
      <h3>
        <u> Website:</u>
      </h3>
      <p>
        <a href="url">www.jspiders.com</a>
      </p>
      <h3>
        <u>Phone number:</u>
      </h3>
      <p>+91998765432</p>
      <h3>
        <u>Home Branch Address:</u>
      </h3>
      <p>Puttanna chetty complex, 3rd floor, Bull Temple Road, Basavangudi, Bengaluru, Karnataka 560004</p>
      <img src="{{contactusImage.src}}">
    </div>
  </div>