<div class="aboutUsCls">

  <video width="320" height="240" controls>
    <source src="./../../assets/marbles.mp4" type="video/mp4"> Your browser does not support the video tag.
  </video>

  <h1> Over View </h1>

  <p>Art and Stone was incorporated on 2018 May with the view to cater to the arising need of learning Angular. Since inception,
    it has been involved in procuring high quality marble and later has been into procuring granites and off late into procuring
    marble from all over the globe. The one thing we would like to say is that we PROCURE ONLY THE BEST QUALITY AVAILABLE
    IN THE INDUSTRY.</p>

  <h1> Company History </h1>

  <p>Art and Stone as a brand name started operations in 2018 as a wholesalers in Marbles and has diversified over the years
    into various other products. Being in the furnishing field, we got to know the importance of flooring for our clients.
    The scare resource at that time for good flooring compelled us to diversify into the flooring industry. We started up
    with the domestic marbles and later moved into granite and then into Imported marbles, from around the world. The whole
    group is inspired and motivated by our founder Shri Vishnu Garg ji and is running on his vision and dedication to work,
    to give our clients with the best possible quality available. Over the years, Art and Stones has built up a wide network
    of clientele in the domestic as well as overseas market. The flooring division has also built up wide network of clientele
    in the domestic and is now pursuing for the International market.</p>

</div>